$light: #FBFCFD;
$gray: #626667;
$gray-800: #888888;

$font-size-base: 14px;
$line-height-base: 1.5rem;
$transition-base: .48s;
$max-width: 1170px;
$padding-x: 2rem;

$nav-title-color: $gray;
$nav-title-font-size: $font-size-base;
$nav-title-font-weight: normal;

$nav-link-color: $gray-800;
$nav-link-hover-color: $gray;
$nav-link-active-color: $gray;
$nav-link-background: transparent;
$nav-link-hover-background: transparent;
$nav-link-active-background: $light;
$nav-link-font-size: $font-size-base;

$border-color: #E9E9E9;
$border-width: 1px;
$border: $border-color $border-width solid;

$icon-size-default: 24px;
$icon-spacing-between-content: $icon-size-default / 2;
