@import "../../../assets/scss/core";

$space-x: 80px;
$space-y: 60px;

.AppFooter {
    border-top: $border;
    padding: $space-y $space-x;
    margin-top: $space-y;
}
.AppFooter__AppLogo {
    max-width: 175px;
    margin-bottom: $space-y;
}