@import "./assets/scss/core";
@import "./assets/scss/normalize";
@import "./assets/scss/common";

$space-y: 70px;

.App {
    background-image: 
        url(./assets/images/App__background-left.jpg),
        url(./assets/images/App__background-right.jpg);
    background-position: 
        left top 120px, 
        right center;
    background-size: 
        240px,
        240px;
    background-repeat: no-repeat;
}