body {
    background-image: 
        url(./assets/images/background-left.jpg),
        url(./assets/images/background-right.jpg);
    background-position: 
        top 200px left,
        center right;
    background-repeat: no-repeat;
}